html {
  box-sizing: border-box;
  width: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 300px;
  height: auto;
  margin: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.album-list {
  text-align: left;
}
.album-title {
  text-align: left;
  padding: 5px;
}

.album-pagelayout {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.album-pics {
  grid-column: span 5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 320px);
  justify-items: center;
}

.album-pics h3 {
  text-align: center;
}
.arrow {
  float: left;
}
