.card {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: flex-end;
  border: black 1px solid;
  margin: 20px;
  padding: 0px;
}
.card-title {
  display: flex;
  font-size: 2rem;
  margin: 0px;
  padding: 10px;
  justify-content: center;
  border-top: black 1px solid;
  width: 100%;
  text-align: center;
}

img.album-cover {
  padding: 20px;
  max-height: 220px;
  margin: 0;
}
